body {
  margin: 0;
  font-family: Arial;
  background-color: white;
}

nav {
  background: linear-gradient(to right, #D9F99D, #A3E635);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.nav_links {
  padding: 10px;
  margin-left: 20px;
  display: flex;
}

.nav_links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  display: inline-block;
}

.nav_links a:hover {
  color: black;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.nav_links a:focus, 
.nav_links a:active {
  background: none;
  outline: none;
}