html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #F3F4F6, #FCE7F3);
}


nav {
  width: 100%;
  background-color: #D1D5DB;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9CA3AF;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  color: #111827;
  font-size: 30px;
  font-weight: bold;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.nav_links a {
  color: #374151;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.1s;
}

.nav_links a:hover {
  background-color: #FCE7F3;
}

.nav_links a:focus,
.nav_links a:active {
  background-color: #FCE7F3;
  outline: none;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 50px;
}

.hero_card {
  padding: 30px;
  border-radius: 16px;
  background: linear-gradient(to top, #F9FAFB, #FCE7F3);
  box-shadow: 0 10px 25px #D1D5DB;
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid #D1D5DB;
}

.hero_text {
  font-size: 25px;
  color: #111827;
  text-align: left;
  max-width: 500px;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px #E5E7EB;
}

.hero_text h1 {
  font-size: 48px;
  margin-bottom: 12px;
  font-family: Garamond, serif;
  color: #111827;
}

.hero_text p {
  font-style: italic;
  font-size: 16px;
  color: #374151;
  line-height: 1.5;
  background-color: #FCE7F3;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  display: inline-block;
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
}

.hero_image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #FCE7F3;
  box-shadow: 0 0 25px #FBCFE8;
}

.hero_image:hover {
  transform: scale(1.03);
}

.hero_card:hover {
  transform: translateY(-6px);
  transition: 0.3s;
  border-color: #FBCFE8;
}

.about_me {
  padding: 40px;
}

.about_card {
  background-color: #F3F4F6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px #CBD5E1;
  border: 1px solid #D1D5DB;
  border-left: 5px solid #F9A8D4;
  max-width: 1000px;
  margin: auto;
  line-height: 1.7;
}

.me p {
  background-color: #FCE7F3;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  color: #374151;
  font-size: 18px;
}

.skill_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill_tags span {
  font-style: italic;
  background-color: #FCE7F3;
  color: #374151;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #D1D5DB;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.skill_tags span:hover {
  transform: translateY(-3px);
  background-color: #FBCFE8;
}

.projects {
  padding: 40px;
}

.project_title {
  font-size: 40px;
  color: #111827;
  margin-bottom: 30px;
}

.project_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.project_card {
  background-color: #F3F4F6;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #D1D5DB;
  box-shadow: 0 8px 20px #CBD5E1;
}

.project_card h3 {
  color: #111827;
  margin-bottom: 10px;
}

.project_card p {
  color: #374151;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project_card a {
  text-decoration: none;
  background-color: #FCE7F3;
  color: #374151;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  display: inline-block;
  transition: 0.3s;
}

.project_card a:hover {
  background-color: #FBCFE8;
}

.project_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.project_popup:target {
  opacity: 1;
  visibility: visible;
}

.popup_card {
  background-color: #F3F4F6;
  width: 90%;
  max-width: 700px;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #D1D5DB;
  box-shadow: 0 8px 20px #CBD5E1;
}

.popup_image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.popup_image:hover {
  transform: scale(1.01);
}

.popup_card h2 {
  color: #111827;
}

.popup_card p {
  color: #374151;
  line-height: 1.7;
}

.close_btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #FCE7F3;
  color: #374151;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
}

.contact {
  padding: 40px;
}

.contact_title {
  font-size: 40px;
  color: #111827;
  margin-bottom: 30px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact_card {
  background-color: #F3F4F6;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #D1D5DB;
  box-shadow: 0 8px 20px #CBD5E1;
}

.contact_card h3 {
  color: #111827;
  margin-bottom: 10px;
}

.contact_card a {
  text-decoration: none;
  color: #374151;
  transition: 0.3s;
}

.contact_card a:hover {
  color: #EC4899;
}